.page__content {
  max-width: 1280px;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  font-family: "Inter", Arial, sans-serif;
}
